/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 75px;
  background: black;

}
nav *{
  margin: 10px 0 0;
  float: left;
  width: 10%;
  text-decoration: none;
  list-style: none;
  color: white;
  display: block;
}
nav ul{
  width: 50%;
}
nav form{
  width: 20%;
}
 
nav form input{
  width: 100%;
  color: black;
}

main > section {
  width: 50%;
  height: 500px;
  float: left;
}

main > section + section section{
  width: 50%;
  height: 250px;
  float: left;
  border: 1px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
